@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

/* Menghapus outline/border bawaan browser */
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

body {
  background-color: #020617 !important; /* Slate-950 pekat */
  color: #f8fafc;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}